{{#each this}}
<article class="country__article">
    <div class="country__wrapper">
        <img src="{{flag}}" alt="{{name}}" class="country-flag" />
        <h2 class="country-name">{{name}}</h2>
    </div>
    <div class="country-content">
        <ul class="country-list">
            <li class="country-item"><span class="country-subtitle">Capital:</span> {{capital}}</li>
            <li class="country-item"><span class="country-subtitle">Population:</span> {{population}}</li>
            <li class="country-item"><span class="country-subtitle">Languages:</span>
                {{#each languages}}
                <span class="country-language">{{name}}</span>
                {{/each}}
            </li>
        </ul>
    </div>
</article>
{{/each}}